table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th{
	background-color: #4CAF50;
	border: 1px solid black;
	text-align: left;
	padding: 8px;
}

td{
	border: 1px solid black;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){
	background-color: #dddddd;
}

.button{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button:hover {
	background-color: green;
}