* {
	margin:0;
}
.header {
    background-color:#2A3132;
    align-items: center;
    position: sticky;
    top: 0;
    padding:10px;
    color:white;
    z-index: 100;
    display: flex;
    
}
.space {
    display: flex;
    flex: 1;
}
.link {
    text-decoration: none;
    color: white;
}
.nav-menu {
    display: inline;
	list-style-type: none;
}
.nav-item {
    display: inline-block;
    margin-left: 20px;
    /* border-left: 1px solid black; */
}
.brand-name {
    font-size: 2em;
    font-weight: 1000;
    margin:10px 10px 10px 10px;
    color:white;
}
