*{
  color:#2A3132;
}
.float-container {
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex:1;
  /* border: 1px solid green; */
  height: 80%;
}

.float-child {
  width: 30%;
  min-height: 80%;
  /* border: 1px solid red; */
  /* float: left; */
  /* display: inline-block; */
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;

}  

.services ul {
  /* border:1px solid black; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services li a {
display: block;
color: #000;
font-size: 25px;
text-align: center;
padding: 20px;
text-decoration: none;
border-bottom:1px solid #90AFC5;
}

/* Change the link color on hover */
.services li a:hover {
background-color: #336B87;

color: white;
}
/* .usercard, .balance, .services{ */
/* text-align: center; */
/* align-items: center; */
/*font-family: arial;*/
/* min-height: 100%; */
/* width: 100%; */
/* display: flexbox; */
/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */

/* padding:10px; */
/* } */
#contact{
  padding : 30px;
}
