.usercard, .balance{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	width: 300px;
	height: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
	float: left;
}

.contact{
	background-color: #000;
	color:white;
	display: inline-block;
	padding: 8px;
	text-align: center;
	cursor: pointer;
	width: 100px;
	font-size: 18px;
}


